# TFM

## Tabla de contenidos

* [1. Objetivo](#cap1)
    * [1.1. Participantes](#section_1_1)
* [2. Librerías y carga de datos](#cap2)
* [3. Feature engineering](#cap3)
* [4. EDA](#cap4)
* [5. Análisis sentimientos titulo](#cap5)
    * [Section 1.2](sSection_1_2)
        * [Section 1.2.1](#section_1_2_1)
        * [Section 1.2.2](#section_1_2_2)
        * [Section 1.2.3](#section_1_2_3)
* [6. Análisis sentimientos post](#cap6)
* [7. Conclusiones](#cap7)

## 1. Objetivo <a class="anchor" id="cap1"></a>

Este proyecto tiene como propósito que los estudiantes identifiquen un problema abierto en el área del análisis de datos apoyado por técnicas de Inteligencia Artificial en el ámbito de su preferencia (Educación, ambiente, criminología, gobierno, etc.). Una vez identificado el problema el estudiante aplicará los conocimientos y competencias, vistos y adquiridos en el Master para hacer un tratamiento de datos al nivel que escoja (Descriptivo, diagnóstico, predictivo, prescriptivo).

### 1.1. Participantes <a class="anchor" id="section_1_1"></a>

* Mireya Harillo Gámez
* Óscar Tienda Beteta
* Henry Ocaña Luna
* David de la Torre Amengual

## 2. Librerías y carga de datos <a class="anchor" id="cap2"></a>

In [1]:
import pandas as pd
import seaborn as sns

A continuación cargamos los datos de reddit con los que vamos a trabajar y mostramos una porción.

In [7]:
#reddit_raw_dataset = pd.read_csv('reddit_wsb.csv')
reddit_raw_dataset = pd.read_csv('https://raw.githubusercontent.com/david-dlta/recursosTFM/main/reddit_wsb.csv')
#raw_dataset = r_data[pd.to_datetime(r_data.timestamp).dt.year>=2021]
reddit_raw_dataset.head()

,title,score,id,url,comms_num,created,body,timestamp
0,"It's not about the money, it's about sending a...",55,l6ulcx,https://v.redd.it/6j75regs72e61,6,1.611863e+09,NaN,2021-01-28 21:37:41
1,Math Professor Scott Steiner says the numbers ...,110,l6uibd,https://v.redd.it/ah50lyny62e61,23,1.611862e+09,NaN,2021-01-28 21:32:10
2,Exit the system,0,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,47,1.611862e+09,The CEO of NASDAQ pushed to halt trading “to g...,2021-01-28 21:30:35
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,29,l6ugk6,https://sec.report/Document/0001193125-21-019848/,74,1.611862e+09,NaN,2021-01-28 21:28:57
4,"Not to distract from GME, just thought our AMC...",71,l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,156,1.611862e+09,NaN,2021-01-28 21:26:56

Hacemos lo mismo con los datos de los precios de las acciones de GameStop Corp. (GME).

In [8]:
gme_raw_dataset = pd.read_csv('https://raw.githubusercontent.com/david-dlta/recursosTFM/main/GME_stock.csv')
gme_raw_dataset.head()

,date,open_price,high_price,low_price,close_price,volume,adjclose_price
0,2021-01-28,265.000000,483.000000,112.250000,193.600006,58815800.0,193.600006
1,2021-01-27,354.829987,380.000000,249.000000,347.510010,93396700.0,347.510010
2,2021-01-26,88.559998,150.000000,80.199997,147.979996,178588000.0,147.979996
3,2021-01-25,96.730003,159.179993,61.130001,76.790001,177874000.0,76.790001
4,2021-01-22,42.590000,76.760002,42.320000,65.010002,196784300.0,65.010002

## 3. Feature engineering <a class="anchor" id="cap3"></a>

Los datos con los que contamos de partida en el dataset no se ajustan totalmente a las nuestras necesidades. Por ello debemos realizar algunas transformaciones sobre estos para poder llevar a cabo el proyecto.

Creamos tres atributos nuevos partiendo del atributo *timestamp*.

In [ ]:
dataset = reddit_raw_dataset.copy()

dataset['year'] = pd.to_datetime(reddit_raw_dataset['timestamp']).dt.year
dataset['month'] = pd.to_datetime(reddit_raw_dataset['timestamp']).dt.month
dataset['day'] = pd.to_datetime(reddit_raw_dataset['timestamp']).dt.day

dataset

## EDA <a class="anchor" id="cap4"></a>

In [ ]:
reddit_raw_dataset.info()

Primero vamos a extraer información descriptiva de los datos. Con el parámetro *include = 'all'* especificamos que queremos información de todos los atributos del dataset, incluso si no son numéricos.

In [ ]:
reddit_raw_dataset.describe(include='all')

**Observaciones**

In [ ]:
reddit_raw_dataset.head()

## 5. Análisis sentimiento títulos <a class="anchor" id="cap5"></a>

## 6. Análisis sentimiento posts <a class="anchor" id="cap6"></a>

## 7. Conclusiones <a class="anchor" id="cap7"></a>